.panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #000;
                border-right: 0 solid #000;
                border-bottom: 14px solid transparent;
                content: " ";
            }