.calendar_link {
	font-family: Arial;
	font-size: 20px;
	text-align: center;
	color: #000000;
	text-decoration: none;
	text-underline: none;
}

.calendar_head {
	font-family: Arial;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	width: 25px;
}

.calendar_head_month {
	font-family: Arial;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	width: 25px;
	background-color: #0066FF;
	color: #FFFFFF;
}

.calendar_day {
	font-family: Arial;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	width: 45px;
	color: #FFFFFF;
	background-color: #31B404;
}

.calendar_entry {
	font-family: Arial;
	font-size: 20px;
	text-align: center;
	height = 100;
}

#calendar tr td {height:45px;}

output[type="text"]
{
    font-size:24px;
}

